<!DOCTYPE html>
<html>
<head>
  <title>TodoList App</title>
  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
<div class="hero">
  <div class="container">
    <h1 class="display-2 text-center">TodoList</h1>
    <div class="row">
      <form id="form" class="col-lg-6 col-8 mx-auto" action="/addToList" method="POST">
        <div class="input-group">

          <input type="text" name="item" class="form-control" placeholder="Enter todo list item">
          <span>
            <button id="btn" type="submit" class="btn btn-primary">Submit</button>
          </span>
        </div>
      </form>
    </div>
    <div class="row">


      <ul id="list" class="list col-lg-6 col-8 mx-auto">

       <% for(var i = 0; i < toDoList.length; i++) { %>
        <li> <%= toDoList[i] %> </li>
       <% } %>
      </ul>
    </div>
    <div class="row">
      <button id="btnClr" type="button" class="btn btn-primary mx-auto btnHide">Clear</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="routes/index.js"></script>
</body>
</html>

